@import 'variable';
@import '../mixins/group-mixins';


nav{
    position: sticky;
    top: 0px;
    left: 0px;
    z-index:99;
    display: flex;
    align-items: center;
    width: 100%;
    height:60px;
    background: $nav-color;
    justify-content: space-between;
    .nav-right{
        display: flex;
        gap: 12px;
        .change-language{
            @include nav-bar;
            height:32px;
            border-radius: 12px;
            width: 108px;
            span {
                margin-top: 4px;
            }
            #language{
                border: none;
            }
        }
        .login {
            @include nav-bar;
            height:32px;
            margin-bottom: 4px;
            border-radius: 50px;
            width: 94px;
            gap: 4px;
            align-self: center;
            span , h4{
                padding-left: 4px;
                padding-top: 4px;
            }
        }
        .login:hover{
            background-color: rgba(0, 0, 0, 0.049);
        }
        .icon-right{
            margin-top: 4px;
        }
    }
    ul{
        display: flex;
        gap: 36px;
        li{
            list-style: none;
            a{
                color: black;
            }

            .color-page {
                color: orange;
            }
        }
    }
    .logo img{
        width: 50px;
    
    }
    a:hover {
        color: $soup-color;
    }
}

