$nav-color: #FFFFFF;
$main-color: #F9C86F;
$fry-color:#FF8214;
$snake-color: #FFAD50;
$soup-color: #E89909;
$signup-color:rgba(226, 20, 20, 0.937);
$point-color:#FBE7D5;
// /home
$bodycolor:#F9DAA7;
$cardhomepage: #F4C77C;

$font-size-h1: 56px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h5: 16px;

$font-size-a: 16px;
$font-size-p: 12px;

$radiusbt : 75px;

$transition:transform 0.3s, box-shadow 0.3s;
