@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    background: $soup-color;
    color: $nav-color;
    padding: 8px 24px;
    border: none;
}

@mixin buttonhover {
    background-color: $main-color;
    color: $nav-color;
    border: none;
}
@mixin imgcenter{
    padding: 16%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@mixin icon3{
    width: 100px;
  
}
@mixin space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
@mixin space-between{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
