@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    background: $soup-color;
    color: $nav-color;
    padding: 8px 18px;
    border: none;
    border-radius: 50px;
}

@mixin buttonhover {
    background-color: $main-color;
    color: $nav-color;
    border: none;
}
@mixin imgcenter{
    padding: 16%;
    background-size: cover;
    background-position: center 0%;
}
@mixin nav-bar {
    display: flex;
    border: 1px solid;
}